@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --width: 600px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow:auto;
}

a {
    font-size: small;
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
    width: var(--width);
}

.pastmessages::-webkit-scrollbar {
    display: none;
}

input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

details {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

summary {
    font-weight: 700;
    cursor: pointer;
    margin-left:15px;
}

summary::-webkit-details-marker {
    color: #333;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.pastmessages {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    width: var(--width);
    height: 600px;
    overflow-y: auto;
    margin-bottom: 1em;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cudawarning{
    color: red;
    font-weight: 700;
    margin-top: 1em;
}

.loadingpopup {
    text-align: center;
}

.colorswatch {
    width: 12.5%;
    height: 50px; 
    display: inline-block; 
    text-align: center; 
    line-height: 50px;
    cursor: pointer;
}

.colordisplay {
    display:block;
    width: var(--width);
    height: 100px;
}

.pulse {
    animation: pulse 1s ease-out;
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.permimagedisplay {
    display: flex; 
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.homelink {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #636363;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; 
    top: 15; 
    left: 15; 
}

.homelink:hover {
    background-color: #717e8b;
}